<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dating App TDI</title>

    <link href="static/style.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
	  rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>

    {{ bokeh_script|indent(4)|safe }}

  </head>

  <body>

    <div class="input">
      <form id='next' method='post' action='index'>
        	<select name='gender' required>
          <option value="men" {% if gender =="men" %} selected {% endif %} >Men</option>
          <option value="women" {% if gender =="women" %} selected {% endif %} >Women</option>
        </select><br>
        <span id="nextprofile">Next Profile:</span> 
        	<input type='submit' value='▶' /><br>
        Like	<input type='checkbox' name='liked_image' /><br>
      </form>
    </div>

    {{ bokeh_div|indent(4)|safe }}
    
  </body>
  
</html>
